<div class="container">
  <div class="logo">
    <!-- <img src="https://t4.ftcdn.net/jpg/02/90/98/39/360_F_290983972_mYCCKvVWzmQUhNoWIdwjSdlPADb3Prf2.jpg" alt="" srcset="" width="50px" height="50px"> -->
    <span>Quikk</span>
  </div>

  <div class="links">
    <a routerLink="">Home</a>
    <a routerLink="">Product</a>
    <a routerLink="">Pricing</a>
    <a routerLink="">Our solutions</a>
  </div>

  <div class="buttons">
    <!-- <button
      class="btn-login"
      routerLink="auth/login"
    >
      Sign up
    </button> -->
    <button type="button" class="btn btn-light" routerLink="register">Sign up</button>
    <button type="button" class="btn btn-outline-light" routerLink="login">Log in</button>
    <!-- <button>
      Log out
    </button> -->
    <!-- <button type="button" class="btn btn-primary">Primary</button> -->
  </div>
</div>
