<div class="container">
  <div class="logo">
    <span>Quikk</span>
  </div>

  <div class="links">
    <a *ngIf="!authService.loging" routerLink="">Home</a>
    <a *ngIf="!authService.loging" routerLink="">Product</a>
    <a *ngIf="!authService.loging" routerLink="">Pricing</a>
    <a *ngIf="!authService.loging" routerLink="">Our solutions</a>
  </div>

  <div class="buttons">
    <button
      *ngIf="!authService.loging"
      type="button"
      class="btn btn-light"
      routerLink="register"
    >
      Sign up
    </button>
    <button
      *ngIf="!authService.loging"
      type="button"
      class="btn btn-outline-light"
      routerLink="login"
    >
      Log in
    </button>
    <button
      *ngIf="authService.loging"
      type="button"
      class="btn btn-outline-light"
      (click)="logout()"
    >
      Log out
    </button>
  </div>
</div>
